.q-hero {
  background: #151b2b;
  color: white;
  padding-top: 41px;
  height: 80vh;
  &__logo {
    width: 158px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    max-width: 470px;
    margin-right: 70px;
    opacity: 0;
    animation: HeroSlideIn 1s forwards 0.3s ease;
    h1 {
      font-size: 46px;
      line-height: 51px;
      font-weight: 800;
      font-family: hk_grotesk;
      margin-bottom: 24px;
      display: flex;
      align-items: baseline;

      span {
        margin-left: 20px;
      }
    }
    .q-hero__headline {
      font-family: hk_grotesk;
      font-size: 25px;
      line-height: 35px;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .q-hero__summary {
      font-size: 16px;
      line-height: 24px;
      color: #8686b2;
      margin-bottom: 48px;
    }
  }
  .q-hero__ctas {
    display: flex;
    .q-btn:first-child {
      margin-right: 24px;
    }
  }
  .q-hero__images {
    max-width: 558px;
    position: relative;
    animation: HeroWrapperSlideIn 1s forwards 0.8s;
    .q-hero__illu {
      position: relative;
      animation: HeroSlideIn 0.9s forwards 0.8s;
      opacity: 0;

      &__1 {
        z-index: 10;
      }
      &__2 {
        z-index: 9;
        margin-top: -15%;
        animation-delay: 1.1s;
      }
      &__3 {
        z-index: 8;
        margin-top: -12%;
        animation-delay: 1.4s;
      }
      &__dashs {
        position: absolute;
        animation: FadeIn 1s forwards 1.5s;
        opacity: 0;
        top: -6%;
      }
    }
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes HeroWrapperSlideIn {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes HeroSlideIn {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
